<div id="{{viewport}}" class="pre-scrollable">

</div>

<script>
var count = 1;

function seed() {
        $.get({ 
        url: "{% url 'jsim:jscroll-view' %}",
        data: {
            page : 1,
            'jscroll-template': '{{template}}',
            token: {{token}},
        }},

        function(data) {
            $('#{{viewport}}').append(data);
            $('#{{viewport}}').on('scroll', autoScroll);
        });
}

function autoScroll() {
    if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight * 60/100.0) {
        count = count + 1;
    
        $('#{{viewport}}').off('scroll');
    
        $.get({ 
        url: "{% url 'jsim:jscroll-view' %}",
        data: {
            page : count,
            'jscroll-template': '{{template}}',
            token: {{token}},
        }},

        function(data) {
            $('#{{viewport}}').on('scroll', autoScroll);
            $('#{{viewport}}').append(data);
        });
        console.log('Page ', count);

    }
}

seed();
</script>

