<div id="{{viewport}}">

</div>

<script>
var count = 1;

function autoScroll() {
    n = $(window).scrollTop() + $(this).innerHeight();
    m = $(window)[0].scrollHeight * 60/100.0;

    if ( n >= m) {
        count = count + 1;
    
        $(window).off('scroll');
    
        $.ajax({ 
        type: 'GET',
        url: "{% url 'jsim:jscroll-view' %}",
        async: false,

        data: {
        page : count,
        'jscroll-template': '{{template}}',
        },

        success: function(data) {
        $('#{{viewport}}').append(data);
        $(window).on('scroll', autoScroll);
        console.log('Page ', count);
        },

        error: function(data) {
        $(window).off('scroll');
        console.log('Page error', count);
        }});
        console.log('scrolling', count);

    }
}

$.get({ 
url: "{% url 'jsim:jscroll-view' %}",
data: {
page : 1,
'jscroll-template': '{{template}}',
}},

function(data) {
$('#{{viewport}}').html('');
$('#{{viewport}}').append(data);
$(window).on('scroll', autoScroll);

});


</script>


