<div id="{{viewport}}" class="pre-scrollable">

</div>

<script>
var count = 1;

function seed() {
        $.get({ 
        url: "{% url 'jsim:jscroll-view' %}",
        data: {
            page : 1,
            'jscroll-template': '{{template}}',
            token: {{token}},
        }},

        function(data) {
            $('#{{viewport}}').html('');
            $('#{{viewport}}').append(data);
            $('#{{viewport}}').on('scroll', autoScroll);
        });
}

function autoScroll() {
    if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight * 60/100.0) {
        count = count + 1;
    
        $('#{{viewport}}').off('scroll');
    
        $.ajax({ 
        type: 'GET',
        url: "{% url 'jsim:jscroll-view' %}",
        async: false,
        data: {
            page : count,
            'jscroll-template': '{{template}}',
            token: {{token}},
        },

        success: function(data) {
            $('#{{viewport}}').append(data.responseText);
            $('#{{viewport}}').on('scroll', autoScroll);
            console.log('Page ', count);
        },

        error: function(data) {
            $('#{{viewport}}').off('scroll');
            console.log('Page error', count);
        }});
    }
}

seed();
</script>

